html {
    font-family: "Roboto", sans-serif;
}
header {
    text-align: center;
    color: white;
    background-color: black;
    padding: 30px;

    border-bottom: 10px;
    border-style: solid;
    border-color: white;
}
/* Title of the webpage */
header h1 {
    font-size: 400%;
}

body {
    animation: fadeIn 0.5s;
    color: white;
    background-color: black;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* leftSideBar contains the city search bar and button as well as the history list of what the user has searched for so far */
#leftSidebar {
    display: inline-block;
    margin: 15px;
    font-size: 200%;
    line-height: 150%;
}
#leftSidebarTop {
    padding-bottom: 10px;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: white;
    margin-bottom: 30px;
}
/* These are the city names the user search for in the past */
#leftSidebar ul li {
    padding-bottom: 3px;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: white;
}
#leftSidebar ul li:hover {
    color: rgb(168, 168, 168);
    border-color: rgb(168, 168, 168);
    cursor: grab;
}
#leftSidebar ul li:active {
    cursor: grabbing;
}

/* mainPageContent contains all weather forecasts */
#mainPageContent {
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
}

/* cityInfoContainer contains today's forecast as well as the city's name and today's date */
#cityInfoContainer {
    display: inline-block;
    font-size: 150%;
    border-top: 5px;
    border-bottom: 5px;
    border-style: solid;
    border-color: white;
    padding: 10px;
}
#cityInfoContainer h1 {
    font-size: 150%;
}
#cityInfoContainer ul li {
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* forecastContainer contains the daily forecasts */
#forecastContainer {
    position: absolute;
    border-top: 5px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    display: inline-block;
    font-size: 150%;
}

/* .dailyForecast are the individual daily forecasts */
.dailyForecast {
    display: inline-block;
    min-width: 500px;
    padding: 7px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-style: double;
    border-width: 2px;
    border-color: white;
}
/* Which day the forecast is for, i.e. "Day 1" */
.dayTitle {
    text-decoration: underline;
    font-size: 110%;
}